.text {
    &.white {
        color: var(--color-white);
    }

    &.white_transparent {
        color: var(--color-white-transparent-60);
    }

    &.black {
        color: var(--color-black);
    }

    &.header {
        color: var(--color-header);
    }

    &.green {
        color: var(--color-green);
    }

    &.yellow {
        color: var(--color-yellow);
    }

    &.red {
        color: var(--color-red);
    }

    &.blue {
        color: var(--color-blue);
    }

    &.primary {
        color: var(--color-primary);
    }

    &.secondary {
        color: var(--color-text-secondary);
    }

    &.size_18 {
        font: var(--font-18-lh-22-fw-500);
    }

    &.size_16 {
        font: var(--font-16-lh-24-fw-500);
    }

    &.size_15 {
        font: var(--font-15-lh-21-fw-400);
    }

    &.size_14 {
        font: var(--font-14-lh-20-fw-400);
    }

    &.size_14_500 {
        font: var(--font-14-lh-20-fw-500);
    }
}

