@import "./fonts";

:root {
    // ? Color
    --color-black: rgb(18 41 69 / 100%);
    --color-primary: rgb(0 44 251 / 100%);
    --color-primary-hover: rgb(0 36 203 / 100%);
    --color-primary-active: rgb(39 75 200 / 100%);
    --color-ui-icon: rgb(173 191 223 / 100%);
    --color-ui-accent: rgb(0 44 251 / 13%);
    --color-text-secondary: rgb(94 119 147 / 100%);
    --color-ui-secondary: rgb(216 228 251 / 100%);
    --color-white: rgb(255 255 255 / 100%);
    --color-blue: rgb(0 95 248 / 100%);
    --color-white-transparent-60: rgb(255 255 255 / 60%);
    --color-sidebar: rgb(9 19 54 / 100%);
    --color-page: rgb(229 229 229 / 100%);
    --color-border-listbox: rgb(234 240 250 / 100%);
    --color-header: rgb(6 13 21 / 100%);
    --color-yellow: rgb(255 213 0 / 100%);
    --color-green: rgb(40 168 121 / 100%);
    --color-lightgreen: rgb(219 248 239 / 100%);
    --color-red: rgb(234 26 79 / 100%);
    --color-lightred: rgb(254 233 239 / 100%);
    --color-stats-line: rgb(222 230 245 / 100%);

    // ? Transition
    --transition-all-200ms: all 0.2s;

    // ? Size
    --height-navbar: 64px;
    --width-sidebar: 240px;

    // ? Cursor
    --cursor-pointer: url("../assets/svg/cursor.svg") 6 0, pointer;

    // ? z-index
    --z-index-listbox: 20;
    --z-index-menu: 30;

    // ? Font family
    --font-family-sfd-regular: "SF Pro Display Regular";
    --font-family-sfd-medium: "SF Pro Display Medium";
    --font-family-sfd-semibold: "SF Pro Display Semibold";

    // ? Font size
    --font-size-14: 1.4rem;
    --font-size-15: 1.5rem;
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;

    // ? Line height
    --line-height-20: 2rem;
    --line-height-21: 2.1rem;
    --line-height-22: 2.2rem;
    --line-height-24: 2.4rem;
    --line-height-28: 2.4rem;

    // ! Font

    // ? Font 14 px
    --font-14-lh-20-fw-400: var(--font-size-14) / var(--line-height-20)
        var(--font-family-sfd-regular);
    --font-14-lh-20-fw-500: var(--font-size-14) / var(--line-height-20)
        var(--font-family-sfd-medium);
    --font-14-lh-20-fw-600: var(--font-size-14) / var(--line-height-20)
        var(--font-family-sfd-semibold);

    // ? Font 15 px
    --font-15-lh-21-fw-400: var(--font-size-15) / var(--line-height-21)
        var(--font-family-sfd-regular);
    --font-15-lh-28-fw-400: var(--font-size-15) / var(--line-height-28)
        var(--font-family-sfd-regular);
    --font-15-lh-21-fw-500: var(--font-size-15) / var(--line-height-21)
        var(--font-family-sfd-medium);
    --font-15-lh-21-fw-600: var(--font-size-15) / var(--line-height-21)
        var(--font-family-sfd-semibold);

    // ? Font 16 px
    --font-16-lh-24-fw-400: var(--font-size-16) / var(--line-height-24)
        var(--font-family-sfd-regular);
    --font-16-lh-24-fw-500: var(--font-size-16) / var(--line-height-24)
        var(--font-family-sfd-medium);
    --font-16-lh-24-fw-600: var(--font-size-16) / var(--line-height-24)
        var(--font-family-sfd-semibold);

    // ? Font 16 px
    --font-18-lh-22-fw-400: var(--font-size-18) / var(--line-height-22)
        var(--font-family-sfd-regular);
    --font-18-lh-22-fw-500: var(--font-size-18) / var(--line-height-22)
        var(--font-family-sfd-medium);
    --font-18-lh-22-fw-600: var(--font-size-18) / var(--line-height-22)
        var(--font-family-sfd-semibold);
}

