.flex {
    display: flex;

    &.justify_content {
        &_normal {
            justify-content: normal;
        }

        &_start {
            justify-content: flex-start;
        }

        &_center {
            justify-content: center;
        }

        &_end {
            justify-content: flex-end;
        }

        &_space_between {
            justify-content: space-between;
        }
    }

    &.align_items {
        &_normal {
            align-items: normal;
        }

        &_start {
            align-items: flex-start;
        }

        &_center {
            align-items: center;
        }

        &_end {
            align-items: flex-end;
        }
    }

    &.direction {
        &_row {
            flex-direction: row;
        }

        &_column {
            flex-direction: column;
        }
    }

    &.wrap {
        &_nowrap {
            flex-wrap: nowrap;
        }

        &_wrap {
            flex-wrap: wrap;
        }
    }

    &.max {
        width: 100%;
    }

    &.gap {
        &_4 {
            gap: 0.4rem;
        }

        &_6 {
            gap: 0.6rem;
        }

        &_7 {
            gap: 0.7rem;
        }

        &_8 {
            gap: 0.8rem;
        }

        &_10 {
            gap: 1rem;
        }

        &_16 {
            gap: 1.6rem;
        }

        &_12 {
            gap: 1.2rem;
        }

        &_20 {
            gap: 2rem;
        }

        &_24 {
            gap: 2.4rem;
        }

        &_32 {
            gap: 3.2rem;
        }

        &_46 {
            gap: 4.6rem;
        }

        &_56 {
            gap: 5.6rem;
        }

        &_64 {
            gap: 6.4rem;
        }

        &_86 {
            gap: 8.6rem;
        }

        &_row {
            &_4 {
                row-gap: 0.4rem;
            }

            &_6 {
                row-gap: 0.6rem;
            }

            &_7 {
                row-gap: 0.7rem;
            }

            &_8 {
                row-gap: 0.8rem;
            }

            &_10 {
                row-gap: 1rem;
            }

            &_12 {
                row-gap: 1.2rem;
            }

            &_16 {
                row-gap: 1.6rem;
            }

            &_20 {
                row-gap: 2rem;
            }

            &_24 {
                row-gap: 2.4rem;
            }

            &_32 {
                row-gap: 3.2rem;
            }

            &_46 {
                row-gap: 4.6rem;
            }

            &_56 {
                row-gap: 5.6rem;
            }

            &_64 {
                row-gap: 6.4rem;
            }

            &_86 {
                row-gap: 8.6rem;
            }
        }

        &_column {
            &_4 {
                column-gap: 0.4rem;
            }

            &_7 {
                column-gap: 0.7rem;
            }

            &_6 {
                column-gap: 0.6rem;
            }

            &_8 {
                column-gap: 0.8rem;
            }

            &_10 {
                column-gap: 1rem;
            }

            &_12 {
                column-gap: 1.2rem;
            }

            &_16 {
                column-gap: 1.6rem;
            }

            &_20 {
                column-gap: 2rem;
            }

            &_24 {
                column-gap: 2.4rem;
            }

            &_32 {
                column-gap: 3.2rem;
            }

            &_46 {
                column-gap: 4.6rem;
            }

            &_56 {
                column-gap: 5.6rem;
            }

            &_64 {
                column-gap: 6.4rem;
            }

            &_86 {
                column-gap: 8.6rem;
            }
        }
    }
}

